.flex-all-center{
    
    display: flex;
    justify-content: center;
    text-align: center;
}
.btn{
padding: 5px 14px;
background-color: blue;
color: white;
border: 2px solid white;
border-radius: 7px;
cursor: pointer;

}
.my-1{
    margin: 5px;
}
.my-2{
    margin: 6px 0;
}
.text-center{
    text-align: center;
}